<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/normalize.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
    <link rel="icon" href="static/favicon.png" size="any">
    <title>where got time(table)</title>
</head>
<body>
    <div class="hero">
        <div class="main-text">
            Where Got Time(table)?
        </div>
        <div class="sub-text">
            Being a student in NUS is hard enough, why plan your own timetable? Let us do it for you!
        </div>
    </div>
    <div class="error-message">There is an error in one or more of your inputs, please try again! :(</div>
    <div class="button-table">
        <a href="{{ url_for('index') }}">
            <input type="submit" value="Back to main page" class="submit">
        </a>
    </div>
</body> 
</html>